@{
    ViewData["Title"] = "Blog Posts";
}

<div class="text-center">
<h1 class="display-4">Blog Posts</h1>
<br />
</div>
<div>
    @foreach (var post in Model)
    {
        <div>
            <h2>@post.Title</h2>
            <p>@post.Content</p>
            <footer>
                <p>Posted on: @post.PostDate.ToString("yyyy-MM-dd")</p>
                <a asp-action="EditBlogPost" asp-route-id="@post.Id" >Edit</a>
                <a asp-action="DeleteBlogPost" asp-route-id="@post.Id">Delete</a>
            </footer>
        </div>
    }
</div>
